In [1]:
pip install pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymysql in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install bcrypt

Defaulting to user installation because normal site-packages is not writeable
Collecting bcrypt
  Downloading bcrypt-4.2.1-cp39-abi3-win_amd64.whl.metadata (10 kB)
Downloading bcrypt-4.2.1-cp39-abi3-win_amd64.whl (153 kB)
Installing collected packages: bcrypt
Successfully installed bcrypt-4.2.1
Note: you may need to restart the kernel to use updated packages.

In [1]:
pip install flask

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: flask in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (3.1.0)
Requirement already satisfied: Werkzeug>=3.1 in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from flask) (3.1.3)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from flask) (3.1.4)
Requirement already satisfied: itsdangerous>=2.2 in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from flask) (2.2.0)
Requirement already satisfied: click>=8.1.3 in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from flask) (8.1.7)
Requirement already satisfied: blinker>=1.9 in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from flask) (1.9.0)
Requirement already satisfied: colorama in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from click>=8.1.3->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\their\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from Jinja2>=3.1.2->flask) (3.0.2)
Note: you may need to restart the kernel to use updated packages.

In [31]:
import pymysql

db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
)

print("Connected to MySQL!")

cursor = db.cursor()

cursor.execute("DROP DATABASE IF EXISTS fitness")
cursor.execute("CREATE DATABASE fitness")
db.commit()
db.close()

Connected to MySQL!

#### Execute Query

In [32]:
import pymysql

db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()
q1 = """
    CREATE TABLE Users (
    user_id INT AUTO_INCREMENT PRIMARY KEY,
    password_hash VARCHAR(255) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    name VARCHAR(255),
    age INT CHECK (age >= 0), -- Age cannot be negative
    height FLOAT CHECK (height >= 0), -- Height must be non-negative
    weight FLOAT CHECK (weight >= 0), -- Weight must be non-negative
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP
);"""

q2 = """
    CREATE TABLE Workouts (
    workout_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    workout_type VARCHAR(50),
    duration INT CHECK (duration >= 0), -- Duration must be positive
    calories_burned FLOAT CHECK (calories_burned >= 0), -- Calories burned cannot be negative
    FOREIGN KEY (user_id) REFERENCES Users(user_id) ON DELETE CASCADE
);"""

q3 = """
    CREATE TABLE Exercises (
    exercise_id INT AUTO_INCREMENT PRIMARY KEY,
    workout_id INT NOT NULL,
    exercise_name VARCHAR(255),
    sets INT CHECK (sets > 0), -- Sets must be positive
    reps_per_set INT CHECK (reps_per_set > 0), -- Reps per set must be positive
    duration INT CHECK (duration > 0), -- Duration must be positive
    calories_burned_per_exercise FLOAT CHECK (calories_burned_per_exercise >= 0), -- Calories cannot be negative
    FOREIGN KEY (workout_id) REFERENCES Workouts(workout_id) ON DELETE CASCADE
);"""

q4 = """
    CREATE TABLE Goals (
    goal_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    goal_type VARCHAR(50),
    target_value FLOAT CHECK (target_value >= 0), -- Target value must be non-negative
    current_progress FLOAT CHECK (current_progress >= 0), -- Current progress must be non-negative
    deadline DATE,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(20),
    FOREIGN KEY (user_id) REFERENCES Users(user_id) ON DELETE CASCADE
);"""

q5 = """
    CREATE TABLE Progress (
    progress_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    weight FLOAT CHECK (weight >= 0), -- Weight cannot be negative
    workout_count INT DEFAULT 0 CHECK (workout_count >= 0), -- Workout count cannot be negative
    calories_burned FLOAT DEFAULT 0 CHECK (calories_burned >= 0), -- Calories cannot be negative
    goal_id INT,
    FOREIGN KEY (user_id) REFERENCES Users(user_id) ON DELETE CASCADE,
    FOREIGN KEY (goal_id) REFERENCES Goals(goal_id) ON DELETE CASCADE
);"""

q6 = """
    CREATE TABLE Diet (
    diet_id INT AUTO_INCREMENT PRIMARY KEY,
    user_id INT NOT NULL,
    meal_type VARCHAR(50),
    calories FLOAT CHECK (calories >= 0), -- Calories must be non-negative
    protein FLOAT CHECK (protein >= 0), -- Protein must be non-negative
    carbs FLOAT CHECK (carbs >= 0), -- Carbs must be non-negative
    fats FLOAT CHECK (fats >= 0), -- Fats must be non-negative
    date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (user_id) REFERENCES Users(user_id) ON DELETE CASCADE
);"""

cursor.execute(q1)
cursor.execute(q2)
cursor.execute(q3)
cursor.execute(q4)
cursor.execute(q5)
cursor.execute(q6)
print("Success!")

db.commit()
db.close()

Success!

#### Sample Data

In [3]:
import pymysql

db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()

# Insert sample data into Users
q1 = """
    INSERT INTO Users (email, name, age, height, weight) 
    VALUES 
    ('john.doe@example.com', 'John Doe', 30, 175.0, 75.0),
    ('jane.smith@example.com', 'Jane Smith', 25, 160.0, 60.0),
    ('mike.jones@example.com', 'Mike Jones', 35, 180.0, 85.0);
"""

# Insert sample data into Workouts
q2 = """
    INSERT INTO Workouts (user_id, workout_type, duration, calories_burned, notes) 
    VALUES 
    (1, 'Running', 30, 300.0, 'Morning jog'),
    (2, 'Cycling', 45, 350.0, 'Weekend ride'),
    (3, 'Swimming', 60, 500.0, 'Long pool session');
"""

# Insert sample data into Exercises
q3 = """
    INSERT INTO Exercises (workout_id, exercise_name, sets, reps_per_set, duration, calories_burned_per_exercise)
    VALUES
    (1, 'Push-ups', 3, 15, 5, 50.0),
    (1, 'Squats', 3, 20, 5, 40.0),
    (2, 'Leg Press', 3, 12, 10, 70.0);
"""

# Insert sample data into Goals
q4 = """
    INSERT INTO Goals (user_id, goal_type, target_value, current_progress, deadline, status)
    VALUES 
    (1, 'Weight Loss', 70.0, 75.0, '2024-06-01', 'Active'),
    (2, 'Endurance', 60.0, 50.0, '2024-12-01', 'Active');
"""

# Insert sample data into Progress
q5 = """
    INSERT INTO Progress (user_id, weight, workout_count, calories_burned, goal_id) 
    VALUES 
    (1, 75.0, 5, 1500.0, 1),
    (2, 60.0, 8, 2500.0, 2);
"""

# Insert sample data into Diet
q6 = """
    INSERT INTO Diet (user_id, meal_type, calories, protein, carbs, fats) 
    VALUES 
    (1, 'Breakfast', 500, 30, 50, 15),
    (2, 'Lunch', 600, 40, 60, 20);
"""

# Execute queries to insert the sample data
cursor.execute(q1)
cursor.execute(q2)
cursor.execute(q3)
cursor.execute(q4)
cursor.execute(q5)
cursor.execute(q6)

# Commit the changes to the database
db.commit()

print("Sample data inserted successfully.")

# Close the connection
db.close()

Sample data inserted successfully.

#### Triggers

In [33]:
import pymysql

# Connect to the database
db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()
try:
    trigger_sql = """
    CREATE TRIGGER UpdateProgress
    AFTER INSERT ON Workouts
    FOR EACH ROW
    BEGIN
        -- Check if a Progress entry exists for the user_id
        IF NOT EXISTS (
            SELECT 1 
            FROM Progress 
            WHERE user_id = NEW.user_id
        ) THEN
            -- Insert a new Progress record with the initial details
            INSERT INTO Progress (user_id, weight, workout_count, calories_burned, date)
            VALUES (
                NEW.user_id,
                (SELECT weight FROM Users WHERE user_id = NEW.user_id), -- Fetch current user weight
                1, -- First workout
                NEW.calories_burned -- Initial calories burned
                CURRENT_TIMESTAMP -- Set the current timestamp as the date
            );
        ELSE
            -- Update the existing Progress entry for this user
            UPDATE Progress
            SET 
                workout_count = workout_count + 1,
                calories_burned = calories_burned + NEW.calories_burned
            WHERE user_id = NEW.user_id;
        END IF;
    END
    """
    cursor.execute(trigger_sql)
    db.commit()
    print("Trigger 'UpdateProgress' has been created.")
except Exception as e:
    print(f"Error: {e}")
finally:
    db.close()

Trigger 'UpdateProgress' has been created.

In [34]:
import pymysql

# Connect to the database
db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()

try:
    trigger_sql3 = """
    CREATE TRIGGER UpdateProgressAfterWorkoutUpdate AFTER UPDATE ON Workouts
    FOR EACH ROW
    BEGIN
        UPDATE Progress
        SET 
            workout_count = (
                SELECT COUNT(*)
                FROM Workouts
                WHERE user_id = OLD.user_id
            ),
            calories_burned = (
                SELECT COALESCE(SUM(calories_burned), 0)
                FROM Workouts
                WHERE user_id = OLD.user_id
            )
        WHERE user_id = OLD.user_id;
    END
    """
    cursor.execute(trigger_sql3)
    db.commit()
    print("Trigger 'UpdateProgressAfterWorkoutUpdate' has been created.")
except Exception as e:
    print(f"Error: {e}")
finally:
    db.close()

Trigger 'UpdateProgressAfterWorkoutUpdate' has been created.

In [35]:
import pymysql

# Connect to the database
db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()

try:
    trigger_sql4 = """
    CREATE TRIGGER UpdateProgressAfterWorkoutDelete AFTER DELETE ON Workouts
    FOR EACH ROW
    BEGIN
        UPDATE Progress
        SET 
            workout_count = (
                SELECT COUNT(*)
                FROM Workouts
                WHERE user_id = OLD.user_id
            ),
            calories_burned = (
                SELECT COALESCE(SUM(calories_burned), 0)
                FROM Workouts
                WHERE user_id = OLD.user_id
            )
        WHERE user_id = OLD.user_id;
    END 
    """
    cursor.execute(trigger_sql4)
    db.commit()
    print("Trigger 'UpdateProgressAfterWorkoutDelete' has been created.")
except Exception as e:
    print(f"Error: {e}")
finally:
    db.close()

Trigger 'UpdateProgressAfterWorkoutDelete' has been created.

In [36]:
import pymysql

# Connect to the database
db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()

try:
    trigger_sql2 = """
    CREATE TRIGGER UpdateWorkoutDetails 
    AFTER INSERT ON Exercises
    FOR EACH ROW
    BEGIN
        UPDATE Workouts
        SET 
            calories_burned = (
                SELECT COALESCE(SUM(calories_burned_per_exercise), 0)
                FROM Exercises
                WHERE workout_id = NEW.workout_id
            ),
            duration = (
                SELECT COALESCE(SUM(duration), 0)
                FROM Exercises
                WHERE workout_id = NEW.workout_id
            )
        WHERE workout_id = NEW.workout_id;
    END
    """
    cursor.execute(trigger_sql2)
    db.commit()
    print("Trigger 'UpdateWorkoutDetails' has been created.")
except Exception as e:
    print(f"Error: {e}")
finally:
    db.close()

Trigger 'UpdateWorkoutCalories' has been created.

#### Creating Procedure

In [37]:
import pymysql

db = pymysql.connect(
    host='localhost',
    user='root',
    password='yummy',
    database='fitness'
)
cursor = db.cursor()
try:
    procedure_sql = """
    CREATE PROCEDURE GetUserWorkouts (IN userId INT)
    BEGIN
        SELECT workout_id, workout_type, duration, calories_burned
        FROM Workouts
        WHERE user_id = userId;
    END 
    """
    cursor.execute(procedure_sql)
    db.commit()
    print ("procedure created")
except Exception as e:
    print(f"Error occurred while creating procedure: {e}")
finally:
    db.close()

procedure created